  <div class="panel panel-info search-box">
    <div class="panel-heading">
      <div class="panel-genre-title">種類検索</div>
    </div>
    <div class="panel-body genre-panel-style">
      <% Blog.genres.keys.each do |genre| %>
          <%= link_to genre, blogs_search_path(genre: genre) %>
      <% end %>
    </div>
  </div>
