<div class="about-img">
	<div class="container">
	<div class="row">
		<div class="about-box">
			<div class="about-body">
				<div class="about-title">Healingの趣旨</div>
					<div class="about-content">
						都会の喧騒に疲れてしまい、癒されたい...<br>
						でも、ファミリー向けの動物園に行きにくい人<br>
						遠出するのが面倒くさい人<br>
						そんなあなたに見てもらいたい！<br>
						このサイトは、<br>
						都内で動物に会えるお店を紹介するサイトです！<br>
					</div>
					<strong class="about-last">
						動物から癒されたら、また明日から頑張りましょう！
					</strong>

					<div class="about-blog-index">
						<%= link_to "投稿を見る", blogs_path, class: "btn btn-info" %>
						<%= link_to "会員登録する", new_customer_registration_path, class: "btn btn-danger" %>
					</div>
			</div>
		</div>
	</div>
	</div>
</div>