<div class="about-img">
	<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<div class="about-box">
			<div class="about-body">
				<h1 class="about-title">About</h1>
					<div class="about-content">
						ファミリー向けの動物園などに行きにくい<br>
						または、行くのが面倒くさい人向け、動物に癒されるお店紹介サイト！<br>
						都会の喧騒に疲れていませんか？<br>
						そんなあなたに見てもらいたい！<br>
						そして、癒やしの場所を教え合いましょう！<br>
					</div>
					<p class="about-last">
						動物から癒されたら、また明日から頑張りましょう！
					</p>
					</div>
			</div>
		</div>
	</div>
	</div>
</div>