/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme";
@import "slick";


.icon-bar {
	background-color: #8eb8ff;
}

body {
	padding-top: 50px;
  height: 100%;
	}

.navbar {
	background-color: #eeeeee;
}


.form-box {
	margin-top: 30px;
}

.panel-title {
	font-size: 25px;
	text-align: center;
}

.slick-dots {
  li {
    font-size: 15px !important;
    button:before {
      content: "★" !important;
      font-size: 10px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

ul {
  list-style: none;
}

.error-style {
  color: red;
}

.pagination>li>a {
  border: none;
  color: #696969;
  }

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.paginate-style {
  text-align: center;
}

.comment-paginate-style {
  margin: 0 3%;
}





@media screen and (max-width: 768px) {

.container {
  width: 90%;
}

.top-img {
  width: 100%;
  height: 100vh;
  background-image: image-url("liam-burnett-blue--qwEUsg7UbI-unsplash.jpg");
  background-size: 100% 100%;
}

.top-font-style {
  text-align: center;
  font-size: 18px;
  color: blue;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
}

.about-img {
  width: 100%;
  height: 100vh;
  background-image: image-url("t-r-photography-TzjMd7i5WQI-unsplash.jpg");
  background-size: 100% 100%;
}

.about-title {
  font-size: 20px;
}

.about-content {
  font-size: 10px;
}

.about-last {
  font-size: 10px;
}

.navbar-header {
  float: right;
  width: 40px;
  margin-right: 5%;
}

nav {
  float: none;
}

.table-scroll-comment {
  width: 300px;
}

.blog-photo-show {
  height: 150px;
}

.a .slick-slide {
  height: 200px;
}


}
