// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-var-style {
	width: 140px;
}

.search-title {
	margin: 15px 0;
	font-family: '昔々ふぉんと';
}

.panel-genre-title {
	text-align: center;
}
.genre-panel-style {
	text-align: center;
}

.blog-index-title {
	font-family: '昔々ふぉんと';
	color: #3399ff;
}

.flex-blog {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 6%;
	text-align: center;
}

.flex-blog-content {
	margin: 20px;
	width: 200px;
	font-family: '昔々ふぉんと';
}

.blog-index-photo {
  	width: 80%;
  	height: 200px;
  	border-radius: 10%;
}

.blog-title {
	font-size: 15px;
}

.index-slider .slick-slide {
  	width: 80%;
  	height: 200px;
}

.slick-dots {
  li {
    font-size: 15px !important;
    button:before {
      content: "★" !important;
      font-size: 10px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.show-slider .slick-slide {
	height: 500px;
	margin: 0 8%;
}

.blog-show-photo {
  	height: 400px;
  	width: 50%;
  	margin: 3% 25%;
  	border-radius: 10%;
}

.blog-show-content-title {
	color: #008080;
	font-size-: 20px;
	font-family: '昔々ふぉんと';
}

.blog-show-content {
	font-size: 15px;
	text-align: left;
	width: 80%;
	height: 50px;
	word-break: break-all;
	font-family: '昔々ふぉんと';
}

.url-style {
	font-size: 10px;
	text-align: left;
	width: 100%;
}





