// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image-style {
	border-radius: 50%;
}

.name-style {
	font-size: 15px;
	font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	font-weight: bolder;
}

.my-customer {
	background-color: #ffffcc;
}

.flex-favorite-box {
	display: flex;
}

.flex-favorite-content {
	text-align: center;
}

.customer-favorite-box {
	width: 200px;
	text-align: center;
}

.panel-title-customershow {
	font-size: 20px;
}