// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-img {
	width: 100%;
	height: 100vh;
	background-image: image-url("karen-lau-z_S5m-dqADA-unsplash.jpg");
	background-size: 100% 100%;
}

.top-box {
	display: table;
	width: 100%;
	height: 90vh;
}

.top-title {
	display: table-cell;
	vertical-align: middle;
}

.top-font-style {
	text-align: center;
	font-size: 30px;
	color: #33ffff;
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
	background-color: rgba(0, 0, 0, 0.3);
}

.about-img {
	width: 100%;
	height: 100vh;
	background-image: image-url("dog-684036_1920.jpg");
	background-size: 100% 100%;
}

.about-box {
	width: 100%;
	height: 90vh;

}

.about-body {
	text-align: left;
	font-size: 20px;
}

.about-title {
	font-size: 30px;
	color: #3333ff;
	font-family: '昔々ふぉんと';
}

.about-content {
	font-size: 20px;
	color: #5d99ff;
	font-family: '昔々ふぉんと';
	margin-top: 15px;
	margin-bottom: 15px;
}

.about-use {
	margin-top: 40px;
	font-size: 30px;
	color: #ff88ff;
	font-family: '昔々ふぉんと';
}

.about-blog-index {
	margin-top: 20px;
}







