<% if obj.errors.any? %>
    <div id="error_explanation">
      <strong class="error-style">※ <%= pluralize(obj.errors.count, "件のエラー") %></strong>

      <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li class="error-style"><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>