<% if obj.errors.any? %>
    <div id="error_explanation">
      <h3 class="error-title"><%= pluralize(obj.errors.count, "件のエラー") %></h3>

      <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li class="error-content"><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>